* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/stage-dark.jpg');
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-attachment: fixed;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 100%;
}

.container {
    margin-top: 5%;
}

.textBox {
    border: 3px solid #ffffff;
    border-radius: 25px;
    background-color: #2e2da2;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 2px 5px black;
    font-size: 1.5em;
    visibility: hidden;
}

.clickable:hover {
    cursor: pointer;
    background-color: #7776ff;
}

.clickable:active {
    transform: translate(2px, 2px);
    background-color: #7776ff;
}

#question {
    font-size: 2em;
    text-align: center;
}

#rounds {
    font-size: 2.5em;
    text-align: center;
    visibility: visible;
}

#fifty {
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 100px/50px;
    border: 5px solid white;
    margin: 0 auto;
}

#countdown {
    width: 150px;
    margin: 0 auto;
}

#logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 400px;
}

.letter {
    color: #efa700;
}

.selected {
    background-color: #7776ff;
}

.correct {
    background-color: #009c13;
}

.wrong {
    background-color: #c30303;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 2000ms, opacity 2000ms;
}
