* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/stage-bg.jpg');
    color: #ffffff;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center 75%;
    background-attachment: fixed;
}

.textBox {
    border: 3px solid #ffffff;
    border-radius: 25px;
    background-color: #040367;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 2px 5px black;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-weight: bold;
    font-size: 1.5em;
}

#A:hover,#B:hover,#C:hover,#D:hover {
    cursor: pointer;
    background-color: #3131ff;
}

#A:active,#B:active,#C:active,#D:active
{
    transform: translate(2px, 2px);
    background-color: #3131ff;
}

#question {
    font-size: 2em;
}

#countdown {
    width: 150px;
    margin: 0 auto;
}

.letter {
    color: #efa700;
}

#question {
    text-align: center;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 2000ms, opacity 2000ms;
}